.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: #e99b0a;
}

table {
  color: #111;
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: #b1d8d5;
}

.header-row {
    background: rgb(24, 7, 22);
    color: #fff
}

th {
    text-align: center;
    margin: 5px 10px;
    padding: 6px;
    background: black
}


td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}

tr:nth-of-type(even) {
    background-color:rgb(226, 220, 220);
    } 